@import "@blueprintjs/colors/lib/scss/colors.scss";

.pokemon_selector_content {
  width: fit-content;
  height: fit-content;
  min-width: 240px;
  margin-top: 8px;
  background-color: $dark-gray1;
  border: 2px solid $dark-gray5;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
}

.pokemon_selector_button {
  padding: 4px;
  height: 30px;
  cursor: pointer;
  display: flex;
  column-gap: 8px;
  border: 2px solid $dark-gray5;
  border-radius: 10px;
}

.pokemon_selector_button:hover {
  filter: brightness(85%);
  border: 2px solid $blue3;
}

.pokemon_content_input {
  max-width: 240px;
  width: 100%;
  height: 24px;
  border: 2px solid $dark-gray5;
  border-radius: 10px;
  padding: 4px;
}

.pokemon_popover_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 2px;
  padding: 4px;
}

.pokemon_popover_item:hover {
  border: 2px solid $blue3;
  border-radius: 6px;
  margin: 0px;
}

.pokemon_popover_item_highlighted {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border: 2px solid $blue3;
  border-radius: 6px;
}

.pokemon_popover_item_not_highlighted {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  margin: 2px;
}
